$Step-1$

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
file_path = "C:\\Users\\Kishan D K\\OneDrive\\Documents\\Data_science\\Data_files\\visadataset.csv"

In [8]:
file_path

'C:\\Users\\Kishan D K\\OneDrive\\Documents\\Data_science\\Data_files\\visadataset.csv'

In [16]:
visa_df = pd.read_csv(file_path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV00001,Europe,High School,N,Y,12815,1986,South,100248.93,Year,N,Certified
1,EZYV00002,North Am,Bachelor's,N,Y,58485,1955,Northeast,36080.79,Year,Y,Certified
2,EZYV00003,Asia,High School,Y,Y,31262,1904,Midwest,117927.92,Year,N,Certified
3,EZYV00004,North Am,Bachelor's,N,Y,42617,1993,Midwest,110256.05,Hour,N,Certified
4,EZYV00005,Africa,Doctorate,N,Y,69628,1909,Northeast,135456.27,Hour,Y,Denied
...,...,...,...,...,...,...,...,...,...,...,...,...
195,EZYV00196,Africa,Bachelor's,Y,N,14629,2004,West,91543.97,Hour,Y,Denied
196,EZYV00197,Europe,Master's,Y,Y,7504,2012,West,80136.89,Hour,Y,Denied
197,EZYV00198,Africa,High School,Y,Y,43149,1900,South,100729.22,Year,N,Certified
198,EZYV00199,North Am,Master's,N,Y,111098,1888,South,74387.16,Year,Y,Denied
199,EZYV00200,Africa,Bachelor's,Y,N,140121,1981,Midwest,46578.32,Year,Y,Denied

**************Shape - It will give you the number of frows and columns***************

In [27]:
visa_df.shape

(200, 12)

In [29]:
type(visa_df)

pandas.core.frame.DataFrame

In [31]:
print("The number of Rows are",visa_df.shape[0])
print("The number of Columns are",visa_df.shape[1])

The number of Rows are 200
The number of Columns are 12

In [33]:
visa_df.size

2400

In [35]:
visa_df.shape[0]*visa_df.shape[1]

2400

In [37]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [39]:
type(visa_df.columns)

pandas.core.indexes.base.Index

In [41]:
visa_df.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')>

In [43]:
# Bound methods means use the brackets
# Not callable means remove the brackets

In [45]:
visa_df.columns.to_list()

['case_id',
 'continent',
 'education_of_employee',
 'has_job_experience',
 'requires_job_training',
 'no_of_employees',
 'yr_of_estab',
 'region_of_employment',
 'prevailing_wage',
 'unit_of_wage',
 'full_time_position',
 'case_status']

In [47]:
type(visa_df.columns)

pandas.core.indexes.base.Index

$dtypes$

In [50]:
visa_df.dtypes
# object means categorical columns
# int64 and float64

case_id                   object
continent                 object
education_of_employee     object
has_job_experience        object
requires_job_training     object
no_of_employees            int64
yr_of_estab                int64
region_of_employment      object
prevailing_wage          float64
unit_of_wage              object
full_time_position        object
case_status               object
dtype: object

In [52]:
# it is series type
type(visa_df.dtypes)

pandas.core.series.Series

In [56]:
visa_df.dtypes.keys()

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [62]:
visa_df.dtypes.index

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [64]:
visa_df.dtypes.values

array([dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('int64'), dtype('int64'), dtype('O'), dtype('float64'),
       dtype('O'), dtype('O'), dtype('O')], dtype=object)

In [66]:
type(visa_df.dtypes.values)

numpy.ndarray

$Head$

In [75]:
visa_df.head()    #it willgive you the top 5 rows in a dataframe from the index starting from 0

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV00001,Europe,High School,N,Y,12815,1986,South,100248.93,Year,N,Certified
1,EZYV00002,North Am,Bachelor's,N,Y,58485,1955,Northeast,36080.79,Year,Y,Certified
2,EZYV00003,Asia,High School,Y,Y,31262,1904,Midwest,117927.92,Year,N,Certified
3,EZYV00004,North Am,Bachelor's,N,Y,42617,1993,Midwest,110256.05,Hour,N,Certified
4,EZYV00005,Africa,Doctorate,N,Y,69628,1909,Northeast,135456.27,Hour,Y,Denied

In [81]:
visa_df.head(2)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV00001,Europe,High School,N,Y,12815,1986,South,100248.93,Year,N,Certified
1,EZYV00002,North Am,Bachelor's,N,Y,58485,1955,Northeast,36080.79,Year,Y,Certified

In [83]:
visa_df.tail()   # it will give last 5 rows

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
195,EZYV00196,Africa,Bachelor's,Y,N,14629,2004,West,91543.97,Hour,Y,Denied
196,EZYV00197,Europe,Master's,Y,Y,7504,2012,West,80136.89,Hour,Y,Denied
197,EZYV00198,Africa,High School,Y,Y,43149,1900,South,100729.22,Year,N,Certified
198,EZYV00199,North Am,Master's,N,Y,111098,1888,South,74387.16,Year,Y,Denied
199,EZYV00200,Africa,Bachelor's,Y,N,140121,1981,Midwest,46578.32,Year,Y,Denied

In [87]:
# if i want specific row
# use take()
list1 = ['80','90','100']
visa_df.take(list1)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
80,EZYV00081,Europe,High School,N,N,25484,1937,South,142096.36,Hour,Y,Certified
90,EZYV00091,Asia,High School,Y,N,55575,1986,Northeast,56242.66,Year,N,Certified
100,EZYV00101,North Am,Bachelor's,N,N,62319,1941,Northeast,82819.99,Year,N,Certified

In [101]:
visa_df.take(['80','90','100'], axis = 0)  # axis 0 will give the rows which is specified by the take()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
80,EZYV00081,Europe,High School,N,N,25484,1937,South,142096.36,Hour,Y,Certified
90,EZYV00091,Asia,High School,Y,N,55575,1986,Northeast,56242.66,Year,N,Certified
100,EZYV00101,North Am,Bachelor's,N,N,62319,1941,Northeast,82819.99,Year,N,Certified

****Task** - 
********I want 80,90,100 rows from 6,9,10 columns**********

In [111]:
visa_df.take(['6','9','10'], axis = 1).take(['80','90','100']) # axis 1 will give the columns which is specified by the take()

     yr_of_estab unit_of_wage full_time_position
80          1937         Hour                  Y
90          1986         Year                  N
100         1941         Year                  N

$Iloc----- and ------Loc$

In [ ]:
visa_df.iloc(<rows>,<columns>)

In [125]:
visa_df.iloc[100:150]  # it will give only rows from 100 to 150

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
100,EZYV00101,North Am,Bachelor's,N,N,62319,1941,Northeast,82819.99,Year,N,Certified
101,EZYV00102,Asia,Bachelor's,Y,Y,127100,1963,South,136324.45,Year,N,Certified
102,EZYV00103,Europe,Doctorate,Y,N,29605,2003,South,117356.80,Year,Y,Denied
103,EZYV00104,Europe,Bachelor's,Y,N,6382,1985,Northeast,110959.76,Hour,N,Certified
104,EZYV00105,North Am,Bachelor's,N,N,55427,1906,Northeast,110856.79,Hour,Y,Denied
105,EZYV00106,Africa,High School,N,N,64702,1884,West,145699.81,Hour,Y,Certified
106,EZYV00107,Africa,Doctorate,N,Y,44772,1902,Midwest,64451.60,Year,Y,Certified
107,EZYV00108,Europe,High School,N,N,43993,1907,Midwest,60705.75,Year,Y,Denied
108,EZYV00109,Europe,Master's,Y,N,99935,1992,Northeast,87909.77,Hour,Y,Certified
109,EZYV00110,North Am,High School,N,N,56372,1913,Midwest,65115.58,Hour,Y,Certified
110,EZYV00111,Europe,Doctorate,Y,Y,74098,1912,Midwest,62891.56,Year,N,Denied
111,EZYV00112,Europe,Bachelor's,N,Y,12506,1997,Northeast,93563.52,Hour,N,Denied
112,EZYV00113,Europe,Bachelor's,Y,N,76412,2001,South,95600.84,Hour,N,Denied
113,EZYV00114,Asia,Doctorate,N,Y,119626,1966,Northeast,121114.88,Year,N,Denied
114,EZYV00115,Europe,High School,N,Y,98969,1980,South,124161.85,Hour,Y,Denied
115,EZYV00116,North Am,Doctorate,Y,Y,146607,1987,Midwest,32892.47,Hour,N,Denied
116,EZYV00117,Asia,Bachelor's,N,Y,108600,1881,Northeast,94773.33,Hour,N,Certified
117,EZYV00118,Europe,Master's,N,Y,105594,1934,South,50904.25,Hour,Y,Denied
118,EZYV00119,North Am,Doctorate,N,N,99554,1888,Midwest,75351.69,Year,N,Certified
119,EZYV00120,Asia,High School,N,Y,49232,1888,South,93885.47,Hour,N,Denied
120,EZYV00121,Asia,Master's,N,Y,147663,1963,Midwest,135503.42,Year,Y,Certified
121,EZYV00122,Asia,Bachelor's,Y,Y,62086,1888,Northeast,97500.52,Hour,Y,Denied
122,EZYV00123,Africa,Bachelor's,Y,N,70859,1987,South,64423.47,Year,N,Denied
123,EZYV00124,Europe,High School,Y,Y,84816,1902,Midwest,119616.80,Year,N,Certified
124,EZYV00125,North Am,Bachelor's,N,Y,101961,1954,West,49476.86,Hour,N,Denied
125,EZYV00126,Asia,Master's,N,N,46136,1998,South,80728.44,Year,Y,Certified
126,EZYV00127,North Am,Bachelor's,N,N,79482,1994,South,62459.14,Hour,N,Denied
127,EZYV00128,Africa,Master's,N,Y,68070,1918,South,121423.12,Year,N,Certified
128,EZYV00129,Asia,Bachelor's,Y,N,80262,1939,West,74883.62,Year,Y,Certified
129,EZYV00130,Europe,Master's,N,N,130847,1936,Northeast,51767.57,Year,N,Denied
130,EZYV00131,Europe,High School,Y,Y,62292,1915,Midwest,123445.68,Year,Y,Certified
131,EZYV00132,Africa,Doctorate,N,Y,110409,1997,South,39247.99,Hour,Y,Denied
132,EZYV00133,Europe,Master's,N,N,91259,1976,West,65843.97,Hour,N,Certified
133,EZYV00134,Africa,Bachelor's,N,Y,37487,1932,Midwest,57646.84,Hour,N,Certified
134,EZYV00135,North Am,Bachelor's,N,Y,105235,1971,South,136854.94,Year,N,Certified
135,EZYV00136,Africa,Doctorate,Y,Y,113960,1994,Northeast,131411.45,Year,Y,Certified
136,EZYV00137,Europe,Doctorate,Y,Y,118629,1975,Midwest,74460.32,Hour,Y,Certified
137,EZYV00138,Europe,Bachelor's,Y,Y,41896,2021,West,131650.08,Year,N,Certified
138,EZYV00139,Europe,Doctorate,N,N,131048,1950,Midwest,102819.43,Hour,N,Certified
139,EZYV00140,Africa,Master's,N,Y,56076,1889,Midwest,109665.99,Hour,Y,Denied
140,EZYV00141,Europe,Doctorate,Y,Y,101285,1880,Midwest,132007.55,Hour,N,Denied
141,EZYV00142,Asia,Bachelor's,N,N,55887,1970,Northeast,67154.40,Year,N,Certified
142,EZYV00143,Asia,Bachelor's,Y,Y,122730,1964,Midwest,59595.14,Year,Y,Certified
143,EZYV00144,Africa,Bachelor's,Y,N,77655,2017,Northeast,91669.19,Hour,N,Denied
144,EZYV00145,North Am,Master's,Y,N,43067,1957,West,124649.82,Year,Y,Denied
145,EZYV00146,North Am,Doctorate,Y,Y,88112,2022,South,109336.71,Hour,Y,Denied
146,EZYV00147,Asia,High School,Y,N,130135,2003,Midwest,50482.92,Hour,Y,Denied
147,EZYV00148,Europe,Doctorate,Y,Y,112044,1969,West,46063.56,Year,N,Certified
148,EZYV00149,Asia,Doctorate,N,N,72848,1942,West,119183.56,Year,N,Denied
149,EZYV00150,North Am,Master's,N,Y,46473,1960,South,112725.61,Year,Y,Certified

In [129]:
visa_df.iloc[100:150,2:4]    # it will give both rows[100 to 150] and columns[2 to 4]

    education_of_employee has_job_experience
100            Bachelor's                  N
101            Bachelor's                  Y
102             Doctorate                  Y
103            Bachelor's                  Y
104            Bachelor's                  N
105           High School                  N
106             Doctorate                  N
107           High School                  N
108              Master's                  Y
109           High School                  N
110             Doctorate                  Y
111            Bachelor's                  N
112            Bachelor's                  Y
113             Doctorate                  N
114           High School                  N
115             Doctorate                  Y
116            Bachelor's                  N
117              Master's                  N
118             Doctorate                  N
119           High School                  N
120              Master's                  N
121            Bachelor's                  Y
122            Bachelor's                  Y
123           High School                  Y
124            Bachelor's                  N
125              Master's                  N
126            Bachelor's                  N
127              Master's                  N
128            Bachelor's                  Y
129              Master's                  N
130           High School                  Y
131             Doctorate                  N
132              Master's                  N
133            Bachelor's                  N
134            Bachelor's                  N
135             Doctorate                  Y
136             Doctorate                  Y
137            Bachelor's                  Y
138             Doctorate                  N
139              Master's                  N
140             Doctorate                  Y
141            Bachelor's                  N
142            Bachelor's                  Y
143            Bachelor's                  Y
144              Master's                  Y
145             Doctorate                  Y
146           High School                  Y
147             Doctorate                  Y
148             Doctorate                  N
149              Master's                  N

******iloc will take only numbers******

In [135]:
# to avoid that we use loc
visa_df.loc[[100,120,130],'case_status']    # we can specify the column which we want using the column name

100    Certified
120    Certified
130    Certified
Name: case_status, dtype: object

In [137]:
rows = [100,150,160]
cols = ['continent', 'case_status']
visa_df.loc[rows,cols]

    continent case_status
100  North Am   Certified
150    Africa   Certified
160      Asia   Certified

In [139]:
len(visa_df)

200

$is-null$

In [146]:
# any missing values in the data?
# if any, then :True
# if not, then :False
visa_df.isnull()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
195,False,False,False,False,False,False,False,False,False,False,False,False
196,False,False,False,False,False,False,False,False,False,False,False,False
197,False,False,False,False,False,False,False,False,False,False,False,False
198,False,False,False,False,False,False,False,False,False,False,False,False
199,False,False,False,False,False,False,False,False,False,False,False,False