## Step-1: Introduction to Tuples and Sets in Python

**Tuples** and **Sets** in Python.

- Tuples: Ordered, immutable collections
- Sets: Unordered, mutable collections with no duplicate elements

## Step-2: Working with Tuples

In [2]:
### Creating a tuple
my_tuple = (10, 20, 30, 40)
my_tuple

(10, 20, 30, 40)

In [4]:
### Accessing elements
print(my_tuple[0])   # First element
print(my_tuple[-1])  # Last element

10
40

In [6]:
### Tuple unpacking
a, b, c, d = my_tuple
print(a, b, c, d)

10 20 30 40

In [8]:
### Tuple is immutable (cannot modify)
try:
    my_tuple[0] = 99
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

In [10]:
### Useful functions with tuples
sample_tuple = (1, 2, 2, 3, 4, 2)
print("Count of 2:", sample_tuple.count(2))
print("Index of 3:", sample_tuple.index(3))

Count of 2: 3
Index of 3: 3

## Step-3: Working with Sets

In [12]:
### Creating a set
my_set = {1, 2, 3, 4, 4, 2}
my_set   # duplicates will be removed automatically

{1, 2, 3, 4}

In [14]:
### Adding and removing elements
my_set.add(5)
my_set.remove(2)
my_set

{1, 3, 4, 5}

In [16]:
### Set operations
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference (A-B):", A - B)
print("Symmetric Difference:", A ^ B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (A-B): {1, 2}
Symmetric Difference: {1, 2, 5, 6}

In [18]:
### Checking membership
print(3 in A)
print(7 in A)

True
False

## Step-4: Mini Exercises

In [20]:
# Exercise 1: Create a tuple with 5 numbers and print the 2nd and 4th element
numbers = (10, 20, 30, 40, 50)   # tuple with 5 numbers
print("2nd element:", numbers[1])   # index 1 → 2nd element
print("4th element:", numbers[3])   # index 3 → 4th element

2nd element: 20
4th element: 40

In [22]:
# Exercise 2: Given a list with duplicate values, convert it to a set to remove duplicates
# Exercise 2: Given a list with duplicate values, convert it to a set to remove duplicates

my_list = [1, 2, 2, 3, 4, 4, 5, 1, 6, 3]   # list with duplicates
unique_set = set(my_list)                  # convert to set
print("Original list:", my_list)
print("After removing duplicates:", unique_set)

Original list: [1, 2, 2, 3, 4, 4, 5, 1, 6, 3]
After removing duplicates: {1, 2, 3, 4, 5, 6}

In [24]:
# Exercise 3: Perform union and intersection on two sets of your choice
# Exercise 3: Perform union and intersection on two sets of your choice

set_A = {1, 2, 3, 4}
set_B = {3, 4, 5, 6}

# Union → elements from both sets
union_result = set_A | set_B

# Intersection → common elements in both sets
intersection_result = set_A & set_B

print("Set A:", set_A)
print("Set B:", set_B)
print("Union:", union_result)
print("Intersection:", intersection_result)

Set A: {1, 2, 3, 4}
Set B: {3, 4, 5, 6}
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}

Tuples ➝ Ordered and Immutable

Sets ➝ Unordered and Mutable with unique values